<div class="row d-flex justify-content-center bg-white">
  <div class="col-5 pb-5 mt-2 bg-dark bg-opacity-10">
    <h2 class="mt-4 text-center text-uppercase">Údaje</h2>
    <p><span class="fw-bold">Jméno: </span>{{user.firstName}}</p>
    <p><span class="fw-bold">Příjmení: </span>{{user.lastName}}</p>
    <p><span class="fw-bold">Datum narození: </span>{{user.dateOfBirth}}</p>
    <p><span class="fw-bold">Výška: </span>{{user.height}}</p>
    <p><span class="fw-bold">Váha: </span>{{user.weight}}</p>
    <p><span class="fw-bold">BMI: </span>{{user.BMI}}</p>
    <p><span class="fw-bold">BMR: </span>{{user.BMR}}</p>

  </div>
</div>
