<mat-dialog-content>
  <h1>Nový záznam</h1>
  <form [formGroup]="fgNewEntry" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Datum</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" [max]="today">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Hmotnost</mat-label>
      <input matInput type="number" formControlName="weight" min="3" max="700">
    </mat-form-field>
    <br>
    <button type="submit" mat-flat-button color="primary">
      Přidat
    </button>
  </form>
</mat-dialog-content>
