<mat-tab-group animationDuration="150ms" [(selectedIndex)]="type">
  <mat-tab label="Panda" (click)="type = 0">
    <form [formGroup]=result (ngSubmit)="calculate()">
      <mat-form-field>
        <mat-label>Věk</mat-label>
        <input matInput formControlName="age" type="number" min="5" max="120">
      </mat-form-field>
      <br>
      <mat-radio-group formControlName="sex">
        <mat-radio-button value="Male" [checked]="true">Muž</mat-radio-button>
        <mat-radio-button value="Female" style="margin-left: 10px;">Žena</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field>
        <mat-label>Výška</mat-label>
        <input matInput formControlName="height" type="number" min="100" max="300">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Hmotnost</mat-label>
        <input matInput formControlName="weight" type="number" min="1" max="500">
      </mat-form-field>
      <br>
      <button mat-flat-button color="accent" type="submit">Vypočítat</button>
    </form>
  </mat-tab>
  <mat-tab label="Švanda" *ngIf="keyExists">
    <table mat-table [dataSource]="entriesDataSource">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Datum </th>
        <td mat-cell *matCellDef="let element"> {{element.date}}</td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Věk </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>
      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef> Pohlaví </th>
        <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
      </ng-container>
      <ng-container matColumnDef="height">
        <th mat-header-cell *matHeaderCellDef> Výška </th>
        <td mat-cell *matCellDef="let element"> {{element.height}} </td>
      </ng-container>
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Hmotnost </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
      <ng-container matColumnDef="BMI">
        <th mat-header-cell *matHeaderCellDef> BMI </th>
        <td mat-cell *matCellDef="let element"> {{element.BMI}} </td>
      </ng-container>
      <ng-container matColumnDef="BMR">
        <th mat-header-cell *matHeaderCellDef> BMR </th>
        <td mat-cell *matCellDef="let element"> {{element.BMR}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-flat-button color="warn" (click)="deleteEntries()">Smazat záznamy</button>
  </mat-tab>
</mat-tab-group>
